<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container text-center">
  <h1 class="text-danger mt-5">Something went wrong ! Kindly provide valid credentials ...</h1>
  <h2 class="text-danger mb-5">Or if there is some technical issue , Our Engineers are on it</h2>
  <a class="btn btn-primary" href="/">Go Home</a>
</div>

</body>
</html>
